# Terraform local dirs/files
.terraform/
*.tfstate
*.tfstate.*
crash.log
tfplan

# Sensitive inputs
*.tfvars
*.pfx
*.pem
*.key
*.bak
*.backup
*.log
# DO NOT ignore the lockfile; keep it tracked
*.tfvars
*.tfstate*
.terraform/
sp-creds.json
*fedcred.json
